@model IEnumerable<NextwoIdentity.Models.Product>

@{
    ViewData["Title"] = "AllProduct";
}

<h1>AllProduct</h1>

<p>
    <a asp-action="CreateProduct" asp-controller="Product" class="btn btn-primary">Create </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
            <a asp-route-id="@item.Id" asp-action="EditProduct" asp-controller="Product" class="btn btn-primary">Edit   </a>
                    <a asp-route-id="@item.Id" asp-action="DeleteProduct" asp-controller="Product" class="btn btn-danger">Delete </a>

            </td>
        </tr>
}
    </tbody>
</table>
