@model IEnumerable<NextwoIdentity.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Category List</h1>

<p>
    <a asp-action="CreateCategory" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                    <a asp-action="UpdateCategory" asp-route-id="@item.CategoryId" class="btn btn-success">Update</a> |
                    <a asp-action="Details" asp-route-id="@item.CategoryId" class="btn btn-primary">Details</a> |
                    <a asp-action="DeleteCategory" asp-route-id="@item.CategoryId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
